/* Fonts */
/* Global */
html {
    font-size: 20px;
}
body {
    font-family: SaniTrixieSansRegular, Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
    color: #fff;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    height: 100vh;
}
main {
    position: relative;
    left: 0;
    right: 0;
    bottom: -70px;
    height: calc(100vh - 70px);
    padding: 0 2em;
    overflow-x: hidden;
    overflow-y: scroll;
}
p {
    margin: 0 0 1em 0;
}
p:last-child {
    margin: 0;
}
.title {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 2.074rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.15;
    margin: 0 0 1rem 0;
}
.title--subtitle {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    text-align: center;
}
.link {
    color: #fff;
    display: inline-block;
}
.link--big {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.link--filled {
    color: #000;
    padding: 10px 20px;
    background-color: white;
    font-size: 0.833em;
    width: calc(100% - 2rem);
    margin-top: 2rem;
}
.link--uppercase,
.tiny--uppercase {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.tiny {
    line-height: 1;
    font-size: 0.833em;
}
.tiny--bigger {
    font-size: 1em;
}
.tiny--smaller {
    font-family: 'Overpass';
    letter-spacing: 1px;
}
.category {
    margin-bottom: 4em;
}
.category:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: .20;
    margin-top: 4em;
}
.mosaic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mosaic__item {
    width: calc(50vw - 3em);
    margin-bottom: 2em;
}
.mosaic__item:nth-last-child(-n+2) {
    margin: 0;
}
.mosaic__picture {
    width: 100%;
    display: block;
}
.mosaic .tiny {
    display: block;
    margin-top: 1rem;
    text-align: center;
}
/* Navigation */
.navBar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 1em 2em;
    width: calc(100% - 4em);
    top: 0;
    left: 0;
    z-index: 5;
}
.navBar__logo {
    background-image: url('../images/wb_logo.svg');
    background-repeat: no-repeat;
    background-position: center left;
    height: 1.5rem;
    width: 3rem;
    text-indent: 9999px;
    overflow: hidden;
    margin: 0;
    z-index: 9;
    position: relative;
}
.navBar__logoText {
    margin: 0;
    height: 100%;
}
.navBar__burger {
    background-image: url('../images/burger.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    text-indent: 9999px;
    overflow: hidden;
    border: none;
    padding: 0; 
    position: relative;
    z-index: 9;
    width: 28px;
    outline: none;
    height: 30px;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
.navBar__burger--open {
    background-image: url('../images/cross.svg');
    transform: scaleY(-1);
}
.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu--open {
    opacity: 1;
    visibility: visible;
}
.menu__links {
    margin-top: 2em;
    position: relative;
    top: 1em;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__links--open {
    transform: translateY(-1em);
}
.menu__link {
    margin-bottom: 2rem;
    line-height: 1;
}
.menu__link:last-child {
    margin: 0;
}
/* Landing */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -70px;
    height: 100vh;
    text-align: center;
}
.landing .tiny--smaller::before {
    content: '';
    display: block;
    background-color: #fff;
    opacity: .2;
    margin: 2rem auto;
    height: 1px;
    width: 25%;
}
/* Livestream */
.livestream__video {
    width: 100%;
    height: 250px;
    border: none;
}
/* Socials */
.socialLinks {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.socialLinks__item {
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    width: 1em;
    height: 1em;
    margin-right: 3em;
    position: relative;
}
.socialLinks__item:last-child {
    margin: 0;
}
.socialLinks__item--twitter  {
    background-image: url('../images/twitter.svg');
}
.socialLinks__item--instagram  {
    background-image: url('../images/instagram.svg');
}
.socialLinks__item--facebook  {
    background-image: url('../images/facebook.svg');
}
.socialLinks__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* Scroll Fix */
section[id]::before {
    content: '';
    display: block;
    height: 70px;
    margin-top: -70px;
}
/* Background */
.bg-video {
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .5;
}